<link rel="stylesheet" href="/home.css">

<div id ="home_body">
    <div id = "main-header">
        <h1>Event Manager</h1>
        <p class="subtitle">Plan. Publish. Promote. All in One Place.</p>
        <div class="button-group">
            <button type="button"  onclick="location.href='auth/login'">Organizer</button>
            <button type="button"  onclick="location.href='/attendee_home'">Attendee</button>
        </div>
    </div>
</div>
