<link rel="stylesheet" href="/home.css">

<div id ="Header">
    <div id = "main-header">
        <h1>Event Manager</h1>
    </div>

    <h2> You are here to: </h2>

    <button type="button" class="btn btn-primary" onclick="location.href='/organizer/login'">Organize an event</button>
    <button type="button" class="btn btn-primary" onclick="location.href='/reader'">Attend an event</button>
</div>
